@import "../../scss/settings";
@import "../../scss/mixins";

.customCarousel {
  margin: 0 -10px;
  position: relative;
  width: calc(100% + 20px);
  overflow: hidden;
}

.arrowButton {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 1;
  outline: none;
  height: fit-content;
  @include btn-reset();

  &::-moz-focus-inner {
    border: 0;
  }

  top: calc(50% - 20px);

  @include media-max($sm-break) {
    top: calc(15% - 20px);
  }

  @include media-max($xs-break) {
    top: calc(18% - 20px);
  }

  @include media-max($l-break) {
    top: calc(19% - 20px);
  }

  svg {
    width: 40px;
    height: 40px;
    fill: #ced2d6;
    background-image: radial-gradient(#2b343d 75%, #fff 100%);
    border-radius: 50px;
  }

  &:first-child {
    left: 0;
    @include media-max($sm-break) {
      left: 50px;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &:last-child {
    right: 0;
    @include media-max($sm-break) {
      right: 50px;
    }
  }

  &:hover {
    svg {
      fill: #25d1c3;
    }
  }
}

.slidersWrapper {
  width: calc(100% - 80px);
  max-width: 1200px;
  margin: 0 auto 10px auto;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 5px 5px 6px rgb(15 24 30 / 83%);
}

.sliders {
  display: flex;
  transition-duration: 350ms;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}
