@import "../../scss/settings";
@import "../../scss/mixins";

.tabContainerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  bottom: 29px;
}

.tabContainer {
  width: 368px;
  height: 59px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  backdrop-filter: blur(30px);
  border-radius: 30px 30px 0px 0px;
}

.tabItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #ADB8FA;
  text-decoration: none;

  .taIcon {
    fill: #ADB8FA;
    min-width: 21px;
    height: 21px;
    margin-bottom: 5px;
  }


  &:hover {
    //opacity: .8;
    color: #5468FF;
    transition: $transition;
    .taIcon {
      fill: #5468FF;
      transition: $transition;
    }
  }

  &.activeTab {
    color: #5468FF;
    transition: $transition;
    .taIcon {
      fill: #5468FF;
      transition: $transition;
    }
  }
}
