@import "../../scss/settings";
@import "../../scss/mixins";

.mainWrap {
  display: flex;
  width: 100%;
  height: calc(100vh - 24px);
  overflow: auto;
  position: relative;
  z-index: 10;
  border-radius: 19px;
  @include media-max($lg-break) {
    min-height: 660px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 10px;
  width: 205px;
  height: 46px;
  padding: 2px;
  background: rgba(243, 245, 249, 0.8);
  box-shadow: 0px 17.7273px 18.9091px rgba(0, 20, 170, 0.03);
  border-radius: 26px;
  margin-bottom: 45px;
  margin-top: 10px;
  @include media-max(1440) {
    margin-bottom: 25px;
  }
  @include media-max($md-break) {
    margin-bottom: 0;
  }
  @include media-max($sm-break) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include media-max($xs-break) {
    margin-bottom: 20px;
    margin-top: 5px;
  }
}

.infoBlockSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2px;
  box-shadow: 0px 17.7273px 18.9091px rgba(0, 20, 170, 0.03);
  z-index: 2;
  background: transparent;
  width: 65px;
  height: 13px;
  border-radius: 0;
}

.infoIcon {
  position: relative;
  top: 2px;
  left: -5px;
  min-width: 53px;
  height: 52px;
}

.infoIconSmall {
  position: relative;
  top: 2px;
  left: -5px;
  min-width: 13px;
  height: 10px;
}

.infoText {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100%;
  width: calc(100% - 53px);
  font-size: 12px;
  line-height: 1.2;
  color: $darkText;
}

.contentContainer {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: center;
  align-items: flex-end;
  // align-items: center;
  height: 850px;
  width: 100%;
  padding-bottom: 90px;
  //overflow: hidden;
  @include media-max($lg-break) {
    align-items: flex-end;
    margin-bottom: 0;
  }
  @include media-max($md-break) {
    align-items: flex-end;
    margin-bottom: 0;
  }
}

.cardWrap {
  width: 338px;
  height: 618px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  max-width: 100%;
  max-height: 625px;
  position: relative;
  top: 0;
  border-radius: 20px;
  background-image: url("../../image/svg/WatchAnswer/WatchVioletPhone.svg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(4px);
  @include media-max(1440) {
    width: 311px;
    height: 569px;
  }
  @include media-max($lg-break) {
    width: 244px;
    height: 446px;
  }
  @include media-max($xs-break) {
    width: 200px;
    height: 366px;
  }
}

.cardLeft {
  position: absolute;
  left: -16em;
  @include media-max($lg-break) {
    left: -11em;
  }
  @include media-max($md-break) {
    left: -13em;
  }
  @include media-max($sm-break) {
    left: -10em;
  }
}
.cardRight {
  position: absolute;
  top: 0;
  background-color: $themeColorOrange;
  background-image: none;
  //right: -16em;
  //@include media-max($lg-break) {
  //  right: -11em;
  //}
  //@include media-max($md-break) {
  //  right: -13em;
  //}
  //@include media-max($sm-break) {
  //  right: -10em;
  //}
}

.cardContainer {
  position: relative;
  top: 0px;
  left: 3px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../image/svg/WatchAnswer/WatchMen.svg");
  background-size: contain;
  background-repeat: no-repeat;
  //@include media-max(1400) {
  //  height: calc(100% - 21px);
  //}
  @include media-max($xs-break) {
    left: 1px;
  }
}

.dropcstm {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  padding: 0;
  width: calc(100% - 24px);
  a {
    font-size: 14px;
  }
  button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    padding: 0;
    background-color: transparent;
    &:hover {
      color: #fff;
    }
    &:focus {
      box-shadow: none;
    }
    span {
      width: 262px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  @media (min-width: 1200px) and (max-width: 1320px) {
    width: 202px;
  }
}
.dropwrapper {
  background: rgba(84, 104, 255, 0.05);
  backdrop-filter: blur(40px);
  border-radius: 36.9543px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px 4px 1px 1px;
  transition: ease-in-out 0.5s;
  &:hover {
    background: rgb(84 104 255 / 30%);
  }
  &:focus {
    background: rgb(84 104 255 / 60%);
  }
  &:active {
    background: rgb(84 104 255 / 60%);
  }
  &:visited {
    background: rgb(84 104 255 / 60%);
  }
  &:focus-within {
    background: rgb(84 104 255 / 60%);
  }
  &:focus-visible {
    background: rgb(84 104 255 / 60%);
  }

  .infoIcon {
    width: 24px;
    height: 24px;
    min-width: initial;
    top: 0;
    left: 0;
  }
}

.infoBlock {
  width: auto;
  position: relative;
  top: 0;
  background: transparent;
  box-shadow: none;
  margin-bottom: 15px;
  width: 100%;
  padding-right: 15px;
  @include media-max($lg-break) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include media-max($md-break) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include media-max($sm-break) {
    padding-right: 0;
  }
}
.dateTime {
  margin-left: 6px;
  input {
    backdrop-filter: blur(40px);
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    padding: 0;
    background: rgba(84, 104, 255, 0.05);
    min-height: 28px;
    text-align: center;
    padding-right: 8px;
    width: 124px;
    padding: 0 10px;
  }
}

// ::-webkit-calendar-picker-indicator {
//   filter: invert(1);
// }

.searchinfo {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  input {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(84, 104, 255, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    min-height: 28px;
    padding: 0 10px;
    width: 145px;
    text-align: left;
    padding-right: 30px;
  }
  svg {
    position: absolute;
    right: 10px;
    top: 6px;
  }
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  text-align: center;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  text-align: center;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  text-align: center;
}
input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  text-align: center;
}

.settingIc {
  color: #000;
  background: rgba(84, 104, 255, 0.05);
  width: 29px;
  height: 29px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}
.aright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include media-max($xs-break) {
    margin-top: 3px;
  }
}
