@import "../../../scss/settings";
@import "../../../scss/mixins";

.Input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  max-width: 100%;
  border-radius: 15px;
  background-color: #fff;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 60px;
  height: 100%;
}

.addPading {
  margin-bottom: 10px;
}

input {
  display: flex;
  width: calc(100% - 60px);
  max-width: 100%;
  min-height: 65px;
  font-size: 14px;
  line-height: 1;
  text-align: start;
  color: #344356;
  font-weight: 400;
  font-family: $main-font;
  border: none;
  background: none;
  appearance: none;
  height: auto;
  //padding: 24px 34px 6px 12px;
  //padding: 27px 12px 10px;
  &.withPrefix {
    padding-left: 0;
  }
  text-overflow: ellipsis;
  @include media-max($xs-break) {
    font-size: 15px;
    @-moz-document url-prefix()
    {
      font-size:16px;
      padding-top:30px;
    }
  }

  &::placeholder {
    color: #979797;
    //opacity: 0;
    font-weight: 400;
    text-align: start;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background: #FAFAFA;
    color: #A0B2BE;
    border-radius: 5px;
  }
}
