@import "settings";
@import "animation";
@import "mixins";
@import "import-fonts";


* {
  outline: none !important;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-width: 375px;
  height: 100%;
  scroll-behavior: smooth;

  @include media-max($xxs-break) {
    min-width: 320px;
  }

  &.no-scroll {
    body {
      overflow: hidden;
    }
  }
}

body {
  overflow-x: hidden;
  height: 100%;
  min-width: 375px;
  color: #000;
  font-family: $main-font !important;
  //font-family: 'Roboto', sans-serif;
  font-weight: bold;
  scroll-behavior: smooth;
  @include media-max($xxs-break) {
    min-width: 320px;
  }

  .container {
    max-width: 100%;
    padding: 0;
    width: 1440px;

  }

  a {
    text-decoration: underline;
    //color: $black;

    &:hover {
      cursor: pointer;
    }
  }
}

.content-wrapper {
  position: relative;
  background-image: linear-gradient(25deg, #D6FEC0, #D0CDEB 80%);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  border-radius: 19px;
}

#root {
  min-height: 100vh;
  height: 100%;
  color: #000;
  font-family: $main-font;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}


h1 {
  font-size: 29px;
  padding: 50px 0 10px 0;
  @include media-max($sm-break) {
    font-size: 25px;
  }
  @include media-max($xs-break) {
    font-size: 23px;
  }
}

h3 {
  @include media-max($xs-break) {
    font-size: 18px;
  }
}

.row {
  margin: 0;
  //height: 100%;
}

.text-truncate {
  display: block!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset !important;
  transition: background-color 5000s ease-in-out 0s;
  color: $themeColorText !important;
  //font-size: 16px!important;
}

input:disabled, textarea:disabled, input:disabled::placeholder, textarea:disabled::placeholder {
  -webkit-text-fill-color: $themeColorText; /* 1. sets text fill to current `color` for safari */
  opacity: 1; /* 2. correct opacity on iOS */
}

/*
  Removing arrows on the right of the input type number
*/
// for firefox
input[type='number'] {
  -moz-appearance:textfield!important;
}
// for others
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none!important;
  margin: 0;
}


.main-container {
  //width: 1440px;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.main-row {
  height: 100%;
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.main-col {
  position: relative;
  z-index: 2;
  width: 41%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.static-col {
  position: relative;
  z-index: 1;
  width: 58%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 19px;
}

.col-padding {
  padding-left: 6px;
}

.activeTyped {
  transition: 0.3s ease;
  overflow: hidden;
  padding: 0 5px;
  background-color: #b6fffb;
}

h2 {
  font-size: 41px;
  span {
    color: #0F0222;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.3;
  }
}

.continue-btn {
  @include btn-reset();
  position: relative;
  white-space: nowrap;
  transition: $transition;
  box-shadow: 0px 10px 25px rgba(54, 74, 226, 0.25);
  font-family: $main-font;
  height: 58px;
  width: 315px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  padding: 0 25px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  backdrop-filter: blur(25px);
  background: #3D56F0;
  border-radius: 18px;
  text-transform: uppercase;
  color: $white;

  &:hover {
    opacity: .8;
    transition: $transition
  }
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.ease-in-effect {
  animation: dissolveInLeft 1s ease-in-out;
  -webkit-animation: dissolveInLeft 1s ease-in-out;
}

.ease-out-effect {
  animation: dissolveInRight 1.5s ease-in-out;
  -webkit-animation: dissolveInRight 1.5s ease-in-out;
}


// style for login/signup containers --------------------------------------------------//
.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 0 20px;
  //padding: 109px 80px;
}

.contentWrap-login {
  overflow: hidden;
  z-index: 1;
  max-width: 100%;
  width: 514px;
  height: 46vw;
  max-height: 625px;
  display: flex;
  position: relative;
  border-radius: 40px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/login/Men.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.contentBox-login {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: rgba(84, 104, 255, 0.85);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
}


// select picker ---------------------------------//
rs-picker-toggle {
  max-width: 60px;
  padding: 5px 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.rs-picker-has-value.rs-picker-cleanable .rs-picker-toggle.rs-btn {
  max-width: 60px;
  padding: 0px 0px;
  height: 100%;
  display: flex;
  align-items: center;
}
.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
  padding: 0px 0px;
  height: 100%;
  width: 50px;

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 2px;
    height: 28px;
    margin: auto;
    background-color: #344356;
    border: none;
    opacity: 0.2;
  }
}
.rs-picker-default .rs-btn,
.rs-picker-default .rs-picker-toggle-active {
  border: none;

  &:focus {
    border-color: transparent;
  }
  &:active {
    border-color: transparent;
  }
}

.rs-picker-toggle {
  &:focus {
    border: none;
    border-color: transparent;
  }
  &:active {
    border: none;
    border-color: transparent;
  }
}
.rs-btn-default {
  border: none;
  &:focus {
    border: none;
    border-color: transparent;
  }
  &:active {
    border: none;
    border-color: transparent;
  }
}

.rs-picker-menu.rs-picker-select-menu {
  min-width: 60px;
  width: 250px;
  // height: 250px;
  left: 231.591px;
  top: 465px;
  max-height: 250px;
}
.rs-picker-select-menu-item {
  padding: 4px 12px;
  color: #344356;
  font-size: 14px;

  &:hover {
    color: #344356;
    background-color: #e9ecef;
  }
}

.rs-picker-select-menu-item.rs-picker-select-menu-item-active {
  color: #fff;
  background-color: #5468ff;
}

.rs-picker-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.rs-picker-toggle-value {
  color: #344356 !important;
  font-size: 16px;
}
.rs-btn-close {
  display: none;
}
.rs-picker-toggle-caret {
  display: none;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:focus {
  border: 0px solid black;
  display: flex;
  align-items: center;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:active {
  border: 0px solid black;
  display: flex;
  align-items: center;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-defrs-picker-default:not(.rs-picker-disabled) .rs-btn:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle:hover,
.rs-picker-default:not(.rs-picker-disabled) .rs-btn:focus,
.rs-picker-default:not(.rs-picker-disabled) .rs-picker-toggle {
  border: 0px solid black;
  display: flex;
  align-items: center;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rs-picker-toggle,
.rs-btn,
.rs-btn-default {
  display: flex;
  align-items: center;
}


.cust-form-col {
  width: 100%;
  margin-bottom: 20px;

  &.fw-25 {
    width: 25%;
  }

  &.fw-33 {
    width: 33.33%;
  }

  &.fw-50 {
    width: 50%;
  }

  &.fw-75 {
    width: 25%;
  }
}

.text-filled {
  width: 100%;
  background-color: #ffffff;

  &.with-icon {
    box-shadow: 0px 12px 19px rgba(60, 128, 209, 0.09);
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;

    .icon {
      width: 70px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      color: #5468ff;
      line-height: 1;

      &.flag {
        img,
        .img {
          position: relative;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
          overflow: hidden;
          // font-size: 40px;
          line-height: 1;
        }
        span {
          position: absolute;
          top: 65%;
          left: 55%;
          transform: translate(-50%, -50%);
          font-family: "Arial Unicode MS";
        }
      }

      .material-icons {
        line-height: 1;
      }
    }
    .pass-show-hide {
      width: 60px;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      text-align: center;

      a {
        color: #bcbdbf;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
      }
    }
    input,
    textarea,
    select {
      width: calc(100% - 70px);
    }
  }

  input,
  textarea,
  select {
    height: 70px;
    border: none;
    padding: 0 15px 0 0;
    caret-color: #5468ff;
    background-color: transparent;
    color: #344356;
    font-size: 20px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;

    &:last-child {
      border-radius: 0 20px 20px 0;
    }

    &::placeholder {
      color: #bcbdbf;
    }

    &:hover,
    &:focus {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  &.password-filled {
    input {
      width: calc(100% - 140px);
    }
  }

  &.otp-filled {
    position: relative;
    background-color: transparent;
    height: 65px;

    input {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: calc(100% + 85px);
      height: 100%;
      //padding: 0;
      color: #344356;
      font-size: 25px;
      font-weight: bold;
      z-index: 1;
      letter-spacing: 70px;
      padding: 0 24px;

      &::selection {
        background-color: transparent;
        color: #344356;
      }
    }

    .otp-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;

      span {
        width: 65px;
        height: 65px;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0px 12px 19px rgba(60, 128, 209, 0.08);
      }
    }
  }
}
.mobile-filled {
  > select,
  > .bootstrap-select {
    width: 60px !important;
  }

  > input {
    width: calc(100% - 140px);
  }

  &.with-icon {
    > input {
      width: calc(100% - 95px);
      //width: calc(100% - 140px);
      padding-left: 15px;
    }
  }
  .bootstrap-select {
    button.dropdown-toggle {
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        width: 2px;
        height: 28px;
        margin: auto;
        background-color: #344356;
        border: none;
        opacity: 0.2;
      }
    }
  }
}
.select-filled {
  .bootstrap-select {
    button.dropdown-toggle {
      padding: 0;
      border: none;
      background-color: transparent;
      outline: 0 !important;
      box-shadow: none;
    }
    .filter-option-inner-inner {
      height: 70px;
      display: flex;
      align-items: center;
      color: #344356;
      font-size: 20px;
      font-weight: normal;
      font-family: "Roboto", sans-serif;
    }
    > .dropdown-menu {
      width: 280px;
      height: 350px;
      padding: 0 0 8px;
      border-radius: 8px;

      > .inner {
        -webkit-scrollbar-width: none;
        -moz-scrollbar-width: none;
        -o-scrollbar-width: none;
        -ms-scrollbar-width: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .bs-searchbox {
      width: 100%;
      padding: 5px;

      input {
        width: 100%;
        height: auto;
        padding: 5px 10px;
        border: 1px solid #5468ff;
        border-radius: 8px;
        color: #344356;
        font-size: 20px;
        font-weight: normal;
        font-family: "Roboto", sans-serif;
        box-shadow: none;
      }
    }
    .dropdown-item {
      color: #344356;
      font-size: 20px;
      font-weight: normal;
      font-family: "Roboto", sans-serif;

      &:active {
        background-color: #5468ff;
        color: #ffffff;
      }
    }
    .dropdown-menu {
      li {
        &.selected,
        &.active {
          a {
            background-color: #5468ff;
            color: #ffffff;
          }
        }
      }
    }
  }
}
